# Set the default behavior to automatically normalize line endings
* text=auto

# HTML files
*.html text eol=lf

# CSS files
*.css text eol=lf

# JavaScript files
*.js text eol=lf

*.html text eol=lf working-tree-encoding=UTF-8
*.css text eol=lf working-tree-encoding=UTF-8
*.js text eol=lf working-tree-encoding=UTF-8

*.min.js binary
*.min.css binary

*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
